/* 
    Document   : windowManager
    Created on : Feb 22, 2013, 10:50:46 PM
    Author     : Puni
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.desktop {
    display: block;
    border: black solid 2px;
    width: 800px;
    height: 600px;
    background-color: cornflowerblue;
    top: 100px;
    position: relative;
    margin: auto;
}

.window {
    display: block;
    width: 300px;
    height: 200px;
    background-color: lightgray;
    position: absolute;
    margin: 4px;
    float: left;
}

.maximized {
    width: 100%;
    height: 100%;
    margin: -2px;
    border: black solid 2px;
    position: static;
}

.window .header {
    display: block;
    width: 100%;
    height: 24px;
    background-color: blue;
    color: black;
    border-bottom: windowframe solid 2px;
}

.window .header a.button {
    display: block;
    background-color: darkgray;
    border: black solid 1px;
    width: 18px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    margin: 2px 3px 2px 0px;
    float: right;
    color: black;
}

.window .header a.close {
    font-size: 16px;
    font-weight: bold;
}

.window .header a.minimize {
    font-size: 14px;
}

.window .header a.maximize {
    font-size: 16px;
}

.window .header .title {
    color: white;
    display: block;
    float: left;
    margin: 3px 0px 0px 3px;
    text-decoration: none;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}

.resize {
    position: absolute;
    display: block;
    background-color: windowframe;
}

.maximized .resize {
    display: none;
}

.rs {
    cursor: s-resize;
    width: 100%;
    height: 4px;
    bottom: -4px;
    left: 0px;
}

.rn {
    cursor: n-resize;
    width: 100%;
    height: 4px;
    top: -4px;
    left: 0px;
}

.rw {
    cursor: w-resize;
    width: 4px;
    height: 100%;
    top: 0px;
    left: -4px;
}

.re {
    cursor: e-resize;
    width: 4px;
    height: 100%;
    top: 0px;
    right: -4px;
}

.rse {
    cursor: se-resize;
    width: 4px;
    height: 4px;
    bottom: -4px;
    right: -4px;
}

.rne {
    cursor: ne-resize;
    width: 4px;
    height: 4px;
    top: -4px;
    right: -4px;
}

.rnw {
    cursor: nw-resize;
    width: 4px;
    height: 4px;
    top: -4px;
    left: -4px;
}

.rsw {
    cursor: sw-resize;
    width: 4px;
    height: 4px;
    bottom: -4px;
    left: -4px;
} 