/* 
 * Window manager in JavaScript.
 * Stylesheet part.
 * 
 * Implements independent desktops and windows in web broswer.
 * See more in navod.html.
 * 
 * This aplication was created as project into WAP. 
 * 
 * Author: Filip Zapletal (xzaple27@stud.fit.vutbr.cz)
 */

 

/*
 * Basic desktop style.
 */
.desktop {
    display: block;       
    position: relative;
    float: left;
    
    /* Default desktop border */
    border: black solid 2px;  
    
    /* Default desktop margin */
    margin: 20px;    
    
    /* Default desktop size */
    width: 800px;
    height: 600px;
    
    /* Default desktop color */
    background-color: cornflowerblue;
}

/*
 * Basic window style.
 */
.window {
    display: block;       
    position: absolute;
    margin: 4px;
    float: left;
    
    
    /* Default window size */
    width: 300px;
    height: 200px; 
    
    /* Default window color */
    background-color: lightgray;    
}

/*
 * Maximized window look.
 */
.maximized {
    width: 100%;
    height: 100%;
    margin: -2px;
    border: black solid 2px;
    position: static;
}

/*
 * Minimized window look.
 */
.minimized {
    width: 200px;
    height: 25px;
    margin: 2px;
    border: black solid 2px;
    position: static;
}

/*
 * Window content style.
 */
.window .content {
    display: block;
    overflow: hidden;
}

/*
 * Hide content when minimized.
 */
.minimized .content {
    display: none;
}

/*
 * Window header style.
 */
.window .header {
    display: block;
    width: 100%;
    height: 24px;
    
    /* You can change window header colors and border below. */
    background-color: blue;
    color: black;
    border-bottom: black solid 2px;
}

/*
 * Window header button base style.
 */
.window .header a.button {
    display: block;    
    width: 18px;
    height: 18px;
    margin: 2px 3px 2px 0px;      
    text-align: center;
    vertical-align: middle;   
    float: right;
      
    /* You can chnge buttons style (colors, fonts...) below. */
    background-color: darkgray;
    border: black solid 1px;    
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
}

/*
 * Window header buttons font change depends on window state (maximized or minimized).
 */
.window .header a.close {
    font-size: 16px;
    font-weight: bold;
}

.window .header a.minimize {
    font-size: 14px;
}

.window .header a.maximize {
    font-size: 16px;
}

/*
 * Window text title style.
 */
.window .header .title {
    display: block;
    float: left;
    margin: 3px 0px 0px 3px;
    
    /* You can change font and color of window title */
    color: white;
    text-decoration: none;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}

/*
 * Base class for resize borders.
 */
.resize {
    position: absolute;
    display: block;
    
    /* Here you can change resizeable window borders. */
    background-color: windowframe;
}

/*
 * Hide "resizeable" borders when maximized or minimized.
 */
.maximized .resize {
    display: none;
}

.minimized .resize {
    display: none;
}

/*
 * Bellow are definitions of styles for resizeable borders (cursors and positions).
 */
.rs {
    cursor: s-resize;
    width: 100%;
    height: 4px;
    bottom: -4px;
    left: 0px;
}

.rn {
    cursor: n-resize;
    width: 100%;
    height: 4px;
    top: -4px;
    left: 0px;
}

.rw {
    cursor: w-resize;
    width: 4px;
    height: 100%;
    top: 0px;
    left: -4px;
}

.re {
    cursor: e-resize;
    width: 4px;
    height: 100%;
    top: 0px;
    right: -4px;
}

.rse {
    cursor: se-resize;
    width: 4px;
    height: 4px;
    bottom: -4px;
    right: -4px;
}

.rne {
    cursor: ne-resize;
    width: 4px;
    height: 4px;
    top: -4px;
    right: -4px;
}

.rnw {
    cursor: nw-resize;
    width: 4px;
    height: 4px;
    top: -4px;
    left: -4px;
}

.rsw {
    cursor: sw-resize;
    width: 4px;
    height: 4px;
    bottom: -4px;
    left: -4px;
} 